# DATA STRUCTURES

## LIST, SET, TUPLE, DICTIONARY

**LIST**

A list is collection of elements which are ordered and indexed

We use squared brackets[] for list

it is mutable

In [114]:
list_1=[1,2,3,4,5,"desika","ball",3.14, False]
print(list_1)

[1, 2, 3, 4, 5, 'desika', 'ball', 3.14, False]

#indexing the elements in a list(In python the indexing start from 0)



-9 -8  -7   -6   -5   -4     -3     -2     -1   # right indexing


#If we want to extract the element "desika", the following code can be used

In [29]:
#0   1   2    3   4   5        6     7      8   (left indexing) 

#1   2   3    4   5  desika  ball  3.14  False

print(list_1[1]) #left indexing
print(list_1[4])

2
5

In [30]:
#1   2   3    4   5  desika  ball   3.14   False   
#-9 -8  -7   -6   -5   -4     -3     -2     -1   # right indexing
print(list_1[-1]) 
print(list_1[-4])

False
desika

**EXTRACTING A RANGE OF ELEMENTS**

syntax

name_of_the_list[starting position:ending position]

Here, the element in the ending position is not included

In [115]:
list_1[5:8]

['desika', 'ball', 3.14]

To know all the functions or attributes that can be performed using the given objects, we use directory i.e., dir()

In [31]:
dir(list_1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Now let us perform some  of the attribute mentioned above for list.

**APPEND**

*'append()'* is used to add elements into the existing list

It add the elements in tha last position.

In [32]:
list_1.append("sandhya")

In [33]:
list_1 # The element sandhya added to the list_1 and it is assigned in the last position.

[1, 2, 3, 4, 5, 'desika', 'ball', 3.14, False, 'sandhya']

But if we want to add an element win a specified position, we use insert()

**INSERT**

*'insert()'* is used to add elements into the existing list

It add the elements in a **specified positions** where we want.

*syntax*

insert(p,e)

p= position of the element

e= element to be added

In [34]:
list_1.insert(3,"HAPPY") #inserting the element "HAPPY" in 3rd position

In [35]:
list_1

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya']

**EXTEND**

*'extend()'* is used to add the elements of the list at the end of the current list

In [36]:
list_2=['apple','banana']
list_2

['apple', 'banana']

In [37]:
list_1.extend(list_2) #To add the list_2 to the current list as iterables i.e., unpacking the list_2 and adding the elements of list_ with list_1

In [38]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 'banana']

**Difference between append and extend**

append is used to add the elements to the list. so, if we give a list to be added, it take it as a single element
whereas extend add the each of the elements of the list as separate elements.

In [39]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 'banana']

In [40]:
list_1.append(["A","B"])
print(list_1)

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya', 'apple', 'banana', ['A', 'B']]

In [41]:
list_1[-1]

['A', 'B']

In [42]:
list_1.extend([True,False])
print(list_1)

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya', 'apple', 'banana', ['A', 'B'], True, False]

In [43]:
list_1[-1]

False

#### Removing of elements

**REMOVE**

It is used to remove the specified elements form the list.

In [49]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'apple',
 'banana',
 ['A', 'B'],
 True,
 False]

In [50]:
list_1.remove("banana") #to remove the element 'banana'
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'apple',
 ['A', 'B'],
 True,
 False]

**pop**

pop() is used to remove elements using the specified position.

In [51]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'apple',
 ['A', 'B'],
 True,
 False]

In [52]:
list_1.pop(3) #removing the element in third poistion

'HAPPY'

In [53]:
list_1

[1,
 2,
 3,
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'apple',
 ['A', 'B'],
 True,
 False]

In [56]:
dir(list_1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**SORT**

*sort()* is used to sort the order of the elements in a specified manner

syntax
sort(key,reverse)


key is a function which specifies the method of sorting or sorting manner

reverse=True gives descending order

reverse=False gives the ascending order. By default reverse=True

In [87]:
list3=[10,9,11,1,5,0]

list3

[10, 9, 11, 1, 5, 0]

In [93]:
list3.sort()

In [92]:
print("Ascending order of the list3 is ",  list3)

Ascending order of the list3 is  [0, 1, 5, 9, 10, 11]

In [95]:
list4=[1,2,3,4,5,6]
list4.sort(reverse=True)

In [96]:
print("descending order of the list3 is ",  list4)

descending order of the list3 is  [6, 5, 4, 3, 2, 1]

In [98]:
list5=["a","r","b"]  #we can also sort strings in alphabetical order
list5.sort()

In [99]:
list5

['a', 'b', 'r']

##### sorting using functions

In [100]:
#To sort theelements using their length
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

**REVERSE**

reverse() is used to reverse the order of the list

In [102]:
list6=['desika',2,6]
list6.reverse()

In [103]:
list6

[6, 2, 'desika']

**COPY**

*copy()* is used to copy the list

It returns the shallow copy of the list

In [106]:
list7=['a','b','c']
s=list7.copy()   #to copy the list7 to the variable s

In [107]:
s

['a', 'b', 'c']

**COUNT**
  
*count()* returns the no. of occurence of the specified element

In [110]:
list8=[1,1,2,2,3,3,3,6,6,6,3,3,4,4,4,4,4,5,5,6,6,6,6,6,6,6,6,6,6,6,6,]
list8.count(6)  #count the no. of occurence of the element 6

15

**INDEX**

*index()* returns the first index of the element

In [113]:
list9=['a','c','f','d','e']

list9.index('f')

2